{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
